@using MarkdownApp.Shared.ViewModels.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject HttpClient _httpClient

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main class="app-container" style="background-color: #f7f7f7;">
        <div id="logoutBannerDiv" class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <h6>Welcome, @context.User.Identity.Name</h6> &nbsp;
                    <button type="button" class="btn btn-danger" @onclick="LogoutUser">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a href="/" class="btn btn-outline-primary" role="button">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        @Body
    </main>
</div>

@code {
    private async void LogoutUser()
    {
        await _httpClient.GetAsync("user/logoutuser");
        NavigationManager.NavigateTo("/", true);
    }
}